@import url('http://fonts.googleapis.com/css?family=Titillium+Web:200'); 
@font-face {
    font-family: 'titillium_webregular';
    src: url('../fonts/fonts/titilliumweb-regular-webfont.eot');
    src: url('../fonts/fonts/titilliumweb-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fonts/titilliumweb-regular-webfont.woff2') format('woff2'),
         url('../fonts/fonts/titilliumweb-regular-webfont.woff') format('woff'),
         url('../fonts/fonts/titilliumweb-regular-webfont.ttf') format('truetype'),
         url('../fonts/fonts/titilliumweb-regular-webfont.svg#titillium_webregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'titillium_weblight';
    src: url('../fonts/fonts/titilliumweb-light-webfont.eot');
    src: url('../fonts/fonts/titilliumweb-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fonts/titilliumweb-light-webfont.woff2') format('woff2'),
         url('../fonts/fonts/titilliumweb-light-webfont.woff') format('woff'),
         url('../fonts/fonts/titilliumweb-light-webfont.ttf') format('truetype'),
         url('../fonts/fonts/titilliumweb-light-webfont.svg#titillium_webregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@page { 
	margin: 0;
	margin-bottom:60px;
	margin-top:160px;
	background-color:transparent;
	z-index:-1000000;
}
#header { 
	position: fixed; 
	left: 0; 
	top: -160px; 
	right: 0;
	padding:0;
	height:auto; 
	max-width:100%;
	width:100%;
	background-color:#343539;
}
#footer { 
	position: fixed; 
	left:0;
	bottom:-60px;
	right:0;
	height: 30px; 
	color: #fff;
	font-size:12px;
	padding-top:0;
	text-align:left;
	background-color:#343539;
}
#footer .footer-license{
	background-color:#8eb92a;
	width:60%;
	display:inline-block;
	height:30px;
	padding: 10px 0 10px 47px;
}
#footer .footer-pager{
	width:40%;
	display:inline-block;
	padding: 7px 0 10px 120px;
	height:30px;
	color:#fff;
}
#footer .page:after { 
	content: counter(page, upper-number);
	color:#fff;
	font-size:14px; 
}
body { margin: 0;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;z-index:-1; }
									
#header .company-header{
	text-align: left;
	padding-left:39px;
	padding-top: 10px;
	background-color:#8eb92a;
	width:60%;
	display:inline-block;
}
#header .company-header img{
	width:60px;
	height:auto;
}

#header .company-header span.title{
	color: #fff;
	display: inline-block;
	font-size: 20px;
	margin-top: 3px;
	margin-left: 10px;
}
#header .company-header span.add{
	color: #fff;
	display: block;
	font-size: 11px;
}
#header .company-header .company{
	display:inline-block;
	margin-top:10px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#header .company-header-side{
	width:30%;
	display:inline-block;
}

#header .company-header-side img{
	height: 60px;
	width:auto;
}

#header .company-header-side span{
	color:#fff;
	font-size: 12px;
	float: right;
	text-align: right;
	display: block;
}

#header .jumbotron{
	height: 50px;
	width: 100%;
	display:inline-block;
	top:-70px;
	position:fixed;
	padding: 7px 0 7px 47px;
	margin-bottom: 10px;
	color: inherit;
	background-color: #eee;
}
#header .jumbotron span{
	font-size:26px;
	color:#8eb92a;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#header .jumbotron p{
	font-size:16px;
	line-height: 1px;
	color:#8eb92a;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.content{
	margin-left: 47px;
	margin-right: 47px;
	margin-bottom:20px;
	margin-top:0;
	background-color:transparent;
	z-index:-1;
	width:auto;
	position:relative;
}


span #sC_spn{
	text-align: center;
}

div{
	text-align: justify;
	padding-top: 5px;
	padding-bottom: 5px;
}

div span ol.list{
	padding-top: 5px;
	padding-bottom: 5px;
}

div.newPage{
	padding-top: 25px;
}

div.nxtPage{
	padding-bottom: 50px;
}
div.signatory{
	line-height: 100%;
}

div.rightAlign{
	text-align: left!important;
}

span.coeTitle{
	color:#fff;
	font-style: normal;
	font-weight: bolder;
	letter-spacing: 10px;
	text-align: center;
	font-size: 30px;
}

.coeContent{
	line-height: 200%;
	text-align:center;
	font-size: 16px;
}

/*Font Class properties*/
.text-left{
	text-align:left;
}
.text-right{
	text-align:right;
}
.text-center{
	text-align:center;
}
.text-italic{
	font-style: italic;
}
.text-bold{
	font-weight: bold;
}
.text-heading{
	font-size: 12px;
}
.text-tbody{
	font-size: 12px;
}
.text-red{
	color: #f00409;
}

.text-10{
	font-size: 10px;
}
.text-12{
	font-size: 10px;
}
/*End of Font Class properties*/

/*Table Class Prooperties*/
.table-bordered tr th{
	border:1px solid #000;
}
.table-header-bordered tr th{
	border:1px solid #000;
}
.table-bordered tr td{
	border:1px solid #000;
}
.table{
	width:100%;
	border-collapse: collapse;
	background-color: transparent;
}
.table-outline{
	outline: 1px solid #000;
}
.table-td-outline-left{
	border-left: 1px solid #000;
}
.table-td-outline-right{
	border-right: 1px solid #000;
}
.table-td-outline-bottom{
	border-bottom: 1px solid #000;
}
.table-td-outline-top{
	border-top: 1px solid #000;
}

.one-sixth{
	width:15%;
}
.one-fourth{
	width:25%;
}
.one-half{
	width:50%;
}

.tbl-wide-size{
	width: 65%;
}

.tbl-small-size{
	width: 15%;
}
/*End of Table Class Prooperties*/

/*Paddings*/

.padding-right-10{
	padding-right: 10px;
}
.padding-left-10{
	padding-left: 10px;
}
.padding-right-5{
	padding-right: 5px;
}
.padding-left-20{
	padding-left: 20px;
}
.padding-left-40{
	padding-left: 40px;
}
.padding-left-60{
	padding-left: 60px;
}
.padding-left-80{
	padding-left: 80px;
}
.padding-left1k{
	padding-left: 1000px;
}
.padding-left{
	padding-left: 500px;
}
/*End of Paddings*/

/*Margins*/
.margin-top-20{
	margin-top: 20px;
}
.margin-top-30{
	margin-top: 30px;
}
.margin-top-40{
	margin-top: 40px;
}
.margin-top-60{
	margin-top: 60px;
}
.margin-left-200{
	margin-left:200px;
}
.margin-left-400{
	margin-left:400px;
}
.margin-left-600{
	margin-left:600px;
}
.space-4{
	line-height: 4;
}
/*End of Margins*/

.div-bordered{
	border: 1px solid #000;
}

.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}

.clearfix {display: inline-block;}

.container{
	display:inline;
}
.div-wrap{
	margin-bottom:10px;
	display:inline-block;
	padding:5px;
	border:1px solid #000;
	width: 48%;
}

.div-wrap2{
	margin-bottom:10px;
	display:inline-block;
	padding:5px;
	width: 48%;
}

.div-wrap-footer{
	margin-bottom:10px;
	display:inline-block;
	padding:5px;
	border:1px solid #000;
	width: 23%;
	margin-right: 0px;
	border-spacing: 
}

.div-wrap-cd-footer{
	margin-bottom:10px;
	display:inline-block;
	padding:5px;
	border:1px solid #000;
	width: 48%;
	margin-right: 0px;
	border-spacing: ;
	
}

.div-wrap2{
	margin-bottom:10px;
	display:inline-block;
	padding:5px;
	width: 48%;
}

.div-wrap2-footer{
	margin-bottom:10px;
	display:inline-block;
	padding:5px;
	width: 30%;
	border:1px solid #000;
	margin-right: 0px;
	border-spacing: 
}

.div-wrap2-cd-footer{
	margin-bottom:10px;
	display:inline-block;
	padding:5px;
	width: 48%;
	margin-right: 0px;
	border-spacing: ;
	
}

.bordered{
	border: 1px solid #000;
}

.float-right{
	float: left;
}

#circle {
    width: 10px;
    height: 1px;
    -webkit-border-radius: 2.5px;
    -moz-border-radius: 2.5px;
    border-radius: 5px; 
    border: 1px solid #000;
    display:inline-block;
}

.span-footer{
	display: block;
}